* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* Set to Open Sans Light */
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #010101;
}

body {
    overflow-x: hidden;

}





#crsr {
    height: 2vw;
    width: 2vw;
    /* background-color: white; */
    border-radius: 50%;
    position: fixed;
    border: 0.1px solid rgba(255, 255, 255, 0.552);
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;

}



#loader {
    height: 100%;
    width: 100%;
    background-color: #010101;
    z-index: 999;
    position: fixed;
    padding: 29vh 20vw;
}

.line {
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.2vw;

}

#line-pt1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8vw;
}

#line-pt1 h5,
#line-pt1 h6 {

    font-size: 2.8vw;
    font-weight: 500;
    font-family: 'Noto Serif', serif;
    /* font dekhle */

}

#line-pt1 h5 {
    width: 4vw;
}



.line h1 {
    font-size: 5.2vw;
    font-weight: 500;

}

.line h2 {
    font-size: 3.75vw;

    opacity: 0;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes anime {

    0% {
        font-family: "plain light";
        -webkit-text-stroke: 0.3px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0,
    }

    48% {
        font-family: 'plain light';
        -webkit-text-stroke: 0.3px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;

    }


    50% {

        font-family: 'silk serif';
        -webkit-text-stroke: 0.1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }

    100% {

        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }


}

#main {
    position: relative;
    background-color: #151515;



}


#page1 {

    height: 100vh;
    width: 100%;
    background-color: #151515;
  
    
   
   
}

#page1 #nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.5vw;


}

#nav svg {

    height: 7vw;
    width: 6vw;
}

#nav-pt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;

}

#nav-pt2 h4 {

    font-size: 1.2vw;
    font-weight: 500;
}


.hero {


    width: 70%;
    margin-left: 30%;
    height: fit-content;
    /* background-color: red; */
    overflow-y: hidden;
    display: flex;
    align-items: center;
  


}


.hero h1 {
    font-size: 7vw;
    line-height: 6.3vw;
position: relative;
    font-weight: 500;
}


#hero1::before{

        content: "01";
        font-family: 'silk serif';
    font-weight: 500;
    position: absolute;
    left: 21%;
    top: 29%;
    font-size: 3.2vw;
    


}




.hero:nth-child(2) {
    margin-top: 16vh;
}


.hero h2,.hero h3 {
    font-size: 7vw;
    line-height: 6.3vw;
    font-weight: 500;
}

.hero h2 {
    border-bottom: 0.3vw solid #ffff;
}



.hero h2:hover {
    -webkit-text-stroke: 0.2px #ffff;
    color: transparent;
    font-weight: 500;
    border-bottom: transparent;
}



#page2 {

    height: 100vh;
    width: 100%;
    background-color: #151515;
padding-top: 13vh;

    position: relative;
/* background-color: red; */
}

#video-container {
    height: 70vh;
    width: 68vw;
  
    position: relative;
    left: 30%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}

#video-container img {

    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;

}


#video-container video {

    height: 100%;
    width: 100%;
    object-fit: cover;

}

#video-crsr {
    background-color: #FFA63D;
    border-radius: 50%;
    position: absolute;
    height: 7vw;
    width: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -11%;
    left: 80%;
    z-index: 998;
}

#video-crsr i {

    font-size: 3vw;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 5vh 3vh;


}


#page3 h1 {
    font-size: 7.3vw;
    font-weight: 540;
    letter-spacing: 0.007vw;
    position: relative;
    margin-left: 28vw;

}

#page3 h1::before {
    content: "02";
    font-family: 'silk serif';
    font-weight: 500;
    position: absolute;
    left: -14%;
    top: 5%;
    font-size: 3.2vw;


}

#page3 .underline {
    height: 0.2px;
    width: 100%;
    background-color: #c3c1c1; 
    margin: 5vw 0vw 4vw 0;
margin-left: 28%;
}

#image-div-container{
    /* background-color: red; */ 
padding:3vw 6vw 3vw 6vw;
display: flex;
align-items: flex-start;
justify-content: flex-start;
gap: 2vw;
position: relative;
flex-wrap:wrap;




}

.image-div{
  flex-shrink: 0;
    height: 39vw;
    width: 28vw;
    position: relative;
    overflow: hidden;
    background-color: blue;
}

.image-div:nth-child(1){
    height: 30vw;
    width: 25vw;
}




.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
} 

.page3-circle1{
    height: 23vw;
    position: relative;
    width: 23vw;
    border-radius: 50%;
    border: 1px solid #ffff;
    display: flex;
    align-items: center;
    margin-top: 41vh;
    margin-left: 5vw;
   
    justify-content: center;
}
.page3-circle1 svg{
    height: 50%;
}


.page3-circle2{
    height: 20vw;
    width: 20vw;
    position: relative;
    /* margin-top: 23vh; */
    border-radius: 50%;
    border: 1px solid #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3-circle2 svg{
    height: 50%;
    rotate: -45deg;
}

.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: #ffff;
    /* color: #000; */
    display: flex;
    opacity: 0;
    scale: 0;
    border-radius:50% ;
    align-items: center;
    justify-content: center;
transition: all ease 0.6s;
}

.circle-in p{
    font-size: 1.3vw;
    color: #000;
    width: 71%;
    scale:0;
    transition: all ease 0.3s;
transition-delay: 0.3s;
}

.page3-circle1:hover .circle-in{
    scale:1;
    opacity: 1;

}

.page3-circle1:hover p{
    scale:1;
}


.page3-circle2:hover .circle-in{
    scale:1;
    opacity: 1;

}

.page3-circle2:hover p{
    scale:1;
}







#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-top: 5vh;

}


#page4-content {
    width: 65vw;
    margin-left: 28%;

}

#page4-content h1 {
    font-size: 7.3vw;
    font-weight: 540;
    letter-spacing: 0.007vw;
    position: relative;

}

#page4-content h1::before {
    content: "03";
    font-family: 'silk serif';
    font-weight: 500;
    position: absolute;
    left: -14%;
    top: 5%;
    font-size: 3.2vw;


}



#page4-content .underline {
    height: 0.2px;
    width: 100%;
    background-color: #c3c1c1;
    margin: 5vw 0vw 4vw 0;
}

#page4-content>p {


    font-size: 2.4vw;
    width: 60%;
    font-weight: 500;
    margin-bottom: 3vw;
}

#page4-flex {
    display: flex;
    gap: 2.2vw;

}

#page4-flex img {
    width: 48%;

}

#page4-flex p {
    font-size: 1vw;
    width: 22.9%;
    line-height: 3.2vh;

}


#page4-blue-div {
    background-color: #3F7DF4;
    width: 30vw;
    padding: 2vw;
    position: relative;
    margin-top: -14vw;
    margin-left: 21.8vw;
}

.blue-div-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 0.3px solid rgb(181, 180, 180);
    /* margin: 5vw; */
    /* gap:19vw; */

    padding: 2vw 0vw;


}

.blue-div-elem h4 {
    font-size: 1.6vw;
    font-weight: 500;
    width: 50%;
}

.blue-div-elem p {
    font-size: 1vw;
    width: 50%;
    margin-left: 3vw;
}


#page5 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;

}

.elem {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
}

.elem h1 {
    font-size: 6.9vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    display: inline-block;
    margin-right: 16px;

    animation-name: animee;
    animation-duration: 19s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animee {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }

}






.elem2 {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
}

.elem2 h1 {
    font-size: 6.9vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    display: inline-block;
    margin-right: 16px;

    animation-name: animee;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translateX(calc(-100% - 20px));
    animation-direction: reverse;

}


.elem span {
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
    -webkit-text-stroke: 0.0001px #ffffffb6;

}



.elem2 span {
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
    -webkit-text-stroke: 0.0001px #ffffffb6;

}


#footer {
    height: 98vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding-left: 26vw;
    padding-top: 2.5vw;
    background-color: #151515;
    padding-right: 4vw;



}

#footer h1 {
    font-size: 7.3vw;
    font-weight: 540;
    /* background-color: blue; */
    margin-bottom: 2.2vw;
    position: relative;

}


#footer h1::before {
    content: "04";
    font-family: 'silk serif';
    font-weight: 500;
    position: absolute;
    left: -14%;
    top: 5%;
    font-size: 3.2vw;


}

.underline {

    height: 0.1px;
    width: 100%;
    background-color: #fff;
    margin: 0.1vw 0;

}

.footer-div-underline {

    height: 0.1px;
    width: 100%;
    background-color: #fff;
    margin: 0.1vw 0;


}


#footer-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 13vw;
    padding-top: 4vw;
    padding-bottom: 1vw;
    margin-bottom: 3vw;
    /* background-color: yellow; */
}


#footer-div h5 {

    font-size: 1.5vw;
    font-weight: 500;
    margin: 0.4vh 0;
    /* background-color: purple; */

}

#footer-div h6 {
    font-size: 1vw;
    margin-bottom: 2.7vw;

}

.box {
    width: 27%;
    /* background-color: orange; */
}


#footer>h5 {
    font-size: 1vw;
    font-weight: 500;
    margin-top: 1.6vw;
}

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}