
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; /* Set to Open Sans Light */
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #010101;
}

#crsr{
    height: 2vw;
    width: 2vw;
    /* background-color: white; */
    border-radius: 50%;
position: fixed;
border: 0.1px solid rgba(255, 255, 255, 0.552);
z-index:999;
mix-blend-mode: difference;
transform: translate(-50%,-50%);

}



#loader{
    height: 100%;
width: 100%;
background-color: #010101;
z-index: 999;
position:fixed;
padding: 29vh 20vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
overflow: hidden;
display: flex;
align-items: center;
justify-content: flex-start;
gap:2.2vw;

}

#line-pt1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.8vw;
}

#line-pt1 h5, #line-pt1 h6{

font-size: 2.8vw;
font-weight: 500;
font-family: 'Noto Serif', serif;   
/* font dekhle */

}
#line-pt1 h5{
    width: 4vw;
}



.line h1{
    font-size:5.2vw;
    font-weight: 500;

}
.line h2{
    font-size: 3.75vw;

    opacity:0;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes anime{

0%{
    font-family: "plain light";
    -webkit-text-stroke: 0.3px #fff;
    color :#fff;
    font-weight: 500;
    opacity:0,
}

48%{
    font-family: 'plain light';
-webkit-text-stroke: 0.3px #fff;
color: #fff;
font-weight: 500;
opacity: 0;

}


50%{

    font-family: 'silk serif';
-webkit-text-stroke: 0.1px #fff;
font-weight: 500;
color: transparent;
opacity: 1;
}

100%{
  
    font-family: "silk serif";
     -webkit-text-stroke: 0.1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 0;
}


}

#main{
position: relative;
background-color: #010101;



}


#page1{

height: 100vh;
width: 100%;
background-color: #151515;
}
#page1 #nav {

display: flex;
align-items:center;
justify-content: space-between;
padding:0 4.5vw;


}

#nav svg{

    height: 7vw;
    width: 6vw;
}

#nav-pt2{
display: flex;
align-items: center;
justify-content: center;
gap: 3vw;

}

#nav-pt2 h4{

    font-size: 1.2vw;
    font-weight: 500;
}


.hero{

   
    width: 70%;
    margin-left:30%;
    height: fit-content;
    /* background-color: red; */
overflow: hidden;
display: flex;
align-items: center;

}


.hero  h1{
    font-size: 7vw;
line-height: 6.3vw;

    font-weight: 500;
}

.hero:nth-child(2){
    margin-top: 16vh;
}


.hero  h2 , .hero h3{
    font-size: 7vw;
line-height: 6.3vw;

    font-weight: 500;
}


.hero h2:hover{
    -webkit-text-stroke: 0.2px #ffff;
    color: transparent;
    font-weight: 500;

}






